section(class="features text-center")
 .container
  div(class="features-heading")
   h2 We Help You To Start Your Project
   p This should be used to tell a story and let your users know a little more about your product or service. How can you benefit them?
  div(class="row")
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-heart")
     div(class="feature-info")
      h4 Great Results
      p This should be used to tell a story and let your users know more about your service. How can you benefit them?
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-hand-point-right")
     div(class="feature-info")
      h4 Great Results
      p This should be used to tell a story and let your users know more about your service. How can you benefit them?
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-syringe")
     div(class="feature-info")
      h4 Great Results
      p This should be used to tell a story and let your users know more about your service. How can you benefit them?