section(class="gallery text-center")
 h2 App 
  span Pages
 .container
  div(class="owl-carousel owl-theme")
   div(class="item")
    img(src="images/slider-03.png")
   div(class="item")
    img(src="images/screen-3.png")
   div(class="item")
    img(src="images/slider-04.png")
   div(class="item")
    img(src="images/slider-05.png")
   div(class="item")
    img(src="images/slider-02.png")