section(class="intro")
 .container
  div(class='row justify-content-center')
   div(class="intro-info col-lg-7")
    div(class="intro-slider text")
     div(class="slider-item active")
      h2 Big Titles Is Here Helps You Promote
      p We are LeLand agency, our strategists will help you set an objective and choose your tools, developing a plan that is custom built for your business.
    div(class="meza")
     ul
      li
       span(class="fas fa-arrow-right")
       p Demonstrate how the app works
      li
       span(class="fas fa-arrow-right")
       p Showcase and promote your mobile app to the webs
      li
       span(class="fas fa-arrow-right")
       p Tell the world about the story behind the app
      li
       span(class="fas fa-arrow-right")
       p Provide answers to common questions
    div(class="download d-flex text-center")
     div(class="android")
      i(class="fab fa-google-play")
      p Google Play
     div(class="ios")
      i(class="fab fa-app-store")
      p App Store
   div(class="intro-img col-lg-5")
    img(src="images/screen-4.png" alt="mobile-phone" id="mobile")
   